absl-py==0.9.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
apipkg==1.5
asgiref==3.2.3
asn1crypto==0.24.0
astor==0.8.1
astroid==2.2.5
astropy==3.1.2
asttokens==2.0.3
atomicwrites==1.3.0
attrdict==2.0.1
attrs==19.3.0
autobahn==20.1.2
Automat==0.8.0
autopy==4.0.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.0
beautifulsoup4==4.8.2
bitarray==0.8.3
bkcharts==0.2
blake2b-py==0.1.3
bleach==3.1.0
bokeh==1.0.4
boto==2.49.0
Bottleneck==1.2.1
cached-property==1.5.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
clyent==1.2.2
coils==1.0.9
colorama==0.4.1
conda==4.8.1
conda-build==3.17.8
conda-package-handling==1.6.0
conda-verify==3.1.1
constantly==15.1.0
contextlib2==0.5.5
coverage==5.0.3
coveralls==1.10.0
crc16==0.1.1
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.6
cytoolz==0.10.1
dask==1.1.4
decorator==4.4.0
defusedxml==0.5.0
distributed==1.26.0
Django==3.1.12
docopt==0.6.2
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
eth-abi==2.1.0
eth-account==0.4.0
eth-bloom==1.0.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-tester==0.3.0b1
eth-typing==2.2.1
eth-utils==1.8.4
execnet==1.7.1
fastcache==1.0.2
filelock==3.0.10
flake8==3.7.9
flake8-bugbear==19.8.0
flake8-use-fstring==1.0
Flask==1.0.2
fonoapi==0.1.4
future==0.17.1
gast==0.2.2
gevent==1.4.0
glob2==0.6
gmpy2==2.0.8
google-auth==1.11.0
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
greenlet==0.4.15
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.8.0
heapdict==1.0.0
hexbytes==0.2.0
html5lib==1.0.1
htmlmin==0.1.12
httpie==2.0.0
hyperlink==19.0.0
hypothesis==4.57.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
imbalanced-learn==0.5.0
imblearn==0.0
importlib-metadata==1.5.0
incremental==17.5.0
ipfshttpclient==0.4.12
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
jeepney==0.4
Jinja2==2.10
joblib==0.14.0
jsmin==2.2.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.0.1
lark-parser==0.7.8
lazy-object-proxy==1.3.1
libarchive-c==2.8
lief==0.9.0
linecache2==1.0.0
livereload==2.6.1
llvmlite==0.28.0
loadtest==0.0.2
locket==0.2.0
lru-dict==1.1.6
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
mkdocs-windmill-dark==0.2.0
mkl-fft==1.0.10
mkl-random==1.0.2
mlxtend==0.17.0
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.1
multiaddr==0.0.9
multipledispatch==0.6.0
mypy==0.761
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
netaddr==0.7.19
networkx==2.2
nltk==3.4
nose==1.3.7
notebook==5.7.8
num2words==0.5.10
numba==0.43.1
numexpr==2.6.9
numpy==1.17.4
numpydoc==0.8.0
oauthlib==3.1.0
object-detection==0.1
olefile==0.46
opencv-python==4.1.2.30
openpyxl==2.6.1
opt-einsum==3.1.0
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parsel==1.5.2
parsimonious==0.8.1
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pep562==1.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
Protego==0.1.16
protobuf==3.11.2
psutil==5.6.1
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.1
py-ecc==1.7.1
py-evm==0.3.0a8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycksum==0.4.2
pycocotools==2.0.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.9.4
pycurl==7.43.0.2
PyDispatcher==2.0.5
pyethash==0.1.27
pyflakes==2.1.1
pygame==1.9.6
Pygments==2.5.2
PyHamcrest==2.0.0
pylint==2.3.1
pymdown-extensions==6.2.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.4.6
pyquery==1.4.1
pyrsistent==0.14.11
pysha3==1.0.2
PySocks==1.6.8
pytest==5.4.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-cov==2.8.1
pytest-doctestplus==0.3.0
pytest-forked==1.1.3
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest-xdist==1.31.0
python-dateutil==2.8.0
python-slugify==4.0.0
pytz==2018.9
PyWavelets==1.0.2
PyYAML==5.1
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
queuelib==1.5.0
readme-renderer==24.0
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rlp==1.2.0
rope==0.12.0
rsa==4.0
ruamel-yaml==0.15.46
scikit-image==0.14.2
scikit-learn==0.22
scipy==1.4.1
Scrapy==2.0.1
seaborn==0.9.0
SecretStorage==3.1.1
semantic-version==2.8.4
Send2Trash==1.5.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==2.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
spynner==2.25.dev0
SQLAlchemy==1.3.1
sqlparse==0.3.0
statsmodels==0.9.0
stemgraphic==0.9.0
sympy==1.3
tables==3.4.4
tblib==1.3.2
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
tensorflow-object-detection-api==0.1.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.3
tflearn==0.3.2
toml==0.10.0
toolz==0.9.0
tornado==6.0.2
tox==3.14.3
tqdm==4.40.0
traceback2==1.4.0
traitlets==4.3.2
trie==1.4.0
twine==3.1.1
Twisted==19.10.0
txaio==18.8.1
typed-ast==1.4.1
typing-extensions==3.7.4.1
unicodecsv==0.14.1
unittest2==1.1.0
urllib3==1.24.1
varint==1.0.2
virtualenv==16.7.8
vyper==0.1.0b16
w3lib==1.21.0
wcwidth==0.1.8
web3==5.2.2
webencodings==0.5.1
websockets==7.0
Werkzeug==0.14.1
wget==3.2
Whoosh==2.7.4
widgetsnbextension==3.4.2
wrapt==1.11.1
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.5
xlwt==1.3.0
zict==0.1.4
zipp==3.1.0
zope.interface==4.7.1
